/* ---- Selector Combinado: Hermano Siguiente ----*/

.leng + p {
  color: rgb(212, 3, 3);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ---- Selector Anidado ----*/

h2.leng {
  color: rgb(29, 29, 151);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ---- Selectores Múltiles ----*/

.int,
.int + p {
  color: rgb(29, 156, 150);
  font-family: 'Courier New', Courier, monospace;
}

.nav,
.nav + p {
  color: rgb(110, 51, 24);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.front,
.front + p {
  color: rgb(4, 156, 4);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*-----------------------------------------*/

h1 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30pt;
  font-weight: 900;
  text-decoration: underline;
  text-align: center;
}

h2 {
  font-size: 25pt;
  font-weight: 700;
}

p {
  font-size: 12pt;
  font-weight: 100;
  text-align: justify;
}
